<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="com.bitwise.app.toolbar.contribution1">
         <menu
               label="toolbar"
               path="additions"
               id="com.bitwise.app.toolbar.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.bitwise.app.toolbar.toolbar1">
            <separator
                  name="com.bitwise.app.toolbar.separator2">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  id="New"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="Save"
                  style="push">
            </command>
            <separator
                  name="com.bitwise.app.toolbar.separator3">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
