<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.bitwise.app.graph.commands"
         name="Graph Commands"
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.bitwise.app.graph.newGraphcategory"
            id="com.bitwise.app.graph.newGraphcommand"
            name="New Graph">
      </command>
      <category
            id="com.bitwise.app.graph.newGraphcategory"
            name="New Graph Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bitwise.app.graph.handler.NewGraphHandler"
            commandId="com.bitwise.app.graph.newGraphcommand">
      </handler>
   </extension> 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:com.bitwise.app.menus.NewMenu?before=com.bitwise.app.menus.NewMenu.Class">
         <command
               commandId="com.bitwise.app.graph.newGraphcommand"
               label="Job"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.bitwise.app.graph.toolbar1">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  id="com.bitwise.app.newWizard"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="com.bitwise.app.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="com.bitwise.app.graph.newGraphcommand"
                  icon="icon/job.png"
                  id="com.bitwise.app.graph.newJob"
                  style="pulldown">
            </command>
            <separator
                  name="com.bitwise.app.graph.separator1"
                  visible="true">
            </separator>
            <separator
                  name="com.bitwise.app.graph.separator2"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="com.bitwise.app.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="com.bitwise.app.redo"
                  label="Redo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.bitwise.app.graph.newJob">
         <command
               commandId="com.bitwise.app.graph.newGraphcommand"
               icon="icon/job.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bitwise.app.graph.editor.ETLGraphicalEditor"
            default="false"
            id="com.bitwise.app.graph.etlgraphicaleditor"
            name="My Graphical Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.bitwise.app.graph.newGraphcommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+J">
      </key>
   </extension>

</plugin>
