<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
     
      <command
            id="com.bitwise.window.console"
            name="console">
      </command>
      <command
            id="com.bitwise.window.outline"
            name="outline">
      </command>
      <command
            id="com.bitwise.window.ETLNavigator"
            name="ETLNavigator">
      </command>
      <command
            id="com.bitwise.window.properties"
            name="properties">
      </command>
      <command
            id="com.bitwise.window.palette"
            name="Palette">
      </command>
   </extension>
	  <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bitwise.app.menus.handlers.ConsoleHandler"
            commandId="com.bitwise.window.console">
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.OutlineHandler"
            commandId="com.bitwise.window.outline">
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.ProjectExplorerHandler"
            commandId="com.bitwise.window.ETLNavigator">
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.PropertiesHandler"
            commandId="com.bitwise.window.properties">
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.PaletteHandler"
            commandId="com.bitwise.window.palette">
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <not>
               <count
                     value="0">
               </count>
            </not>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.bitwise.app.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.CutHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.bitwise.app.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <not>
               <count
                     value="0">
               </count>
            </not>
         </enabledWhen>
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <enabledWhen>
            <not>
               <count
                     value="0">
               </count></not>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.bitwise.app.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.bitwise.app.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <not>
               <count
                     value="0">
               </count>
            </not>
         </enabledWhen>
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.UndoHandler"
            commandId="org.eclipse.ui.edit.undo">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.bitwise.app.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <not>
               <count
                     value="0">
               </count>
            </not>
         </enabledWhen>
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.RedoHandler"
            commandId="org.eclipse.ui.edit.redo">
         <enabledWhen>
            <not>
               <count
                     value="0">
               </count>
            </not>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.bitwise.app.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.bitwise.app.menus.handlers.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.bitwise.app.graph.etlgraphicaleditor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <not>
               <count
                     value="0">
               </count>
            </not>
         </enabledWhen>
      </handler>
   </extension>
   		
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution  
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               commandId="com.bitwise.menuBar.open"
               id="com.bitwise.app.menus.FileMenu"
               label="File">
            <menu
                  id="com.bitwise.app.menus.NewMenu"
                  label="New">
                <command
                     commandId="org.eclipse.ui.newWizard"
                     id="com.bitwise.app.menus.NewMenu.Class"
                     label="Class"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     id="com.bitwise.app.menus.NewMenu.XmlFile"
                     label="Xml File..."
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="File"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="org.eclipse.ui.wizards.new.file">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="ELT Project"
                     mnemonic="&amp;E"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="com.bitwise.app.project.structure.wizard">
                  </parameter>
               </command>
               <separator
                     name="com.bitwise.app.menus.separator1"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="&amp;Other...">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  id="com.bitwise.app.menus.FileMenu.OpenFile"
                  label="Open File...">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="com.bitwise.app.menus.FileMenu.SaveFile"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  id="com.bitwise.app.menus.FileMenu.SaveAs"
                  label="Save As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.close"
                  id="bitwise.close.id"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.bitwsie.edit.menu"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select All"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.bitwise.app.menus.WindowMenu"
               label="Window">
            <command
                  commandId="com.bitwise.window.console"
                  label="Console"
                  style="push">
            </command>
            <command
                  commandId="com.bitwise.window.outline"
                  label="Outline"
                  style="push">
            </command>
            <command
                  commandId="com.bitwise.window.ETLNavigator"
                  label="Project Explorer"
                  style="push">
            </command>
            <command
                  commandId="com.bitwise.window.properties"
                  label="Properties"
                  style="push">
            </command>
            <command
                  commandId="com.bitwise.window.palette"
                  label="Palette">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <menu
                  label="Show View">
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Others..."
                     style="push">
               </command>
            </menu>
         </menu>
         <menu
               id="com.bitwise.app.menus.HelpMenu"
               label="Help">
            <command
                  commandId="com.bitwise.menuBar.command18"
                  label="About "
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.bitwise.window.palette"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+P">
      </key>
      <key
            commandId="com.bitwise.window.ETLNavigator"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+E">
      </key>
      <key
            commandId="com.bitwise.window.properties"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+T">
      </key>
   </extension>

</plugin>
