<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution  
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               commandId="com.bitwise.menuBar.open"
               id="com.bitwise.app.menus.FileMenu"
               label="File">
            <menu
                  id="com.bitwise.app.menus.NewMenu"
                  label="New">
                <command
                     commandId="org.eclipse.ui.newWizard"
                     id="com.bitwise.app.menus.NewMenu.Class"
                     label="Class"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     id="com.bitwise.app.menus.NewMenu.XmlFile"
                     label="Xml File..."
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="File"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="org.eclipse.ui.wizards.new.file">
                  </parameter>
               </command>
               <separator
                     name="com.bitwise.app.menus.separator1"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="&amp;Other...">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  id="com.bitwise.app.menus.FileMenu.OpenFile"
                  label="Open File...">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.bitwise.app.menus.HelpMenu"
               label="Help">
            <command
                  commandId="com.bitwise.menuBar.command18"
                  label="About "
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.bitwise.menuBar.palette"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+P">
      </key>
      <key
            commandId="com.bitwise.menuBar.ETLNavigator"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+E">
      </key>
      <key
            commandId="com.bitwise.menuBar.properties"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+T">
      </key>
   </extension>

</plugin>
