<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bitwise.app.perspective.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bitwise.app.perspective.Perspective"
            icon="icons/etlperspective.ico"
            id="com.bitwise.app.perspective.ETLPerspective"
            name="ETL">
      </perspective>
   </extension>
   <extension
         id="productId"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bitwise.app.perspective.application"
            name="ETL UI Tool">
         <property
               name="appName"
               value="ETL UI Tool">
         </property>
      </product>
   </extension>

</plugin>
