<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bitwise.app.perspective.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bitwise.app.perspective.Perspective"
            icon="icons/etlperspective.ico"
            id="com.bitwise.app.perspective.ETLPerspective"
            name="ELT">
      </perspective>
   </extension>
   <extension
         id="productId"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bitwise.app.perspective.application"
            name="ETL UI Tool">
         <property
               name="appName"
               value="ETL UI Tool">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.bitwise.app.perspective/css/style.css">
         </property>
          <property
      name="applicationXMI"
      value="org.eclipse.platform/LegacyIDE.e4xmi">
   </property>
          <property
                name="windowImages"
                value="icons/app_icon_taskbar.png">
          </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.bitwise.app.menus.WindowMenu?after=com.bitwise.window.palette">
         <menu
               id="com.bitwise.app.menus.WindowMenu.Perspective"
               label="Perspective">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Open perspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  label="Reset Perspective"
                  style="radio">
            </command>
            <separator
                  name="com.bitwise.app.perspective.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.customizePerspective"
                  label="Customize Perspective.."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  label="Save Perspective As.."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  label="Close Perspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closeAllPerspectives"
                  label="Close All Perspectives"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
     <extension
   		id="com.example.rcp.css.id"
   		name="com.example.rcp.css.name"	
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/style.css"
            id="com.bitwise.app.project.structure.rcp.theme.id"
            label="com.bitwise.app.project.structure.rcp.theme.label">
      </theme>
   </extension>
      <extension
         point="org.eclipse.ui.themes">
          <theme
            id="de.spiritlink.custom.ui.theme"
            name="Custom Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="77,113,145">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="77,113,145">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
               value="77,113,145">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
               value="77,113,145">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_TEXT_COLOR"
               value="255,255,255">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_TEXT_COLOR"
               value="255,255,255">
         </colorOverride>
      </theme>
   </extension>
   
  

</plugin>
